@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --PrimaryColor: #53A6D8;
  --SecondaryColor: #88CDF6;
  --WhiteColor: #ffffff;
  --lineargradient: linear-gradient(to right, #53A6D8, #88CDF6 );
  --backgroundColor: #e94560;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
.background {
  background: #f6f9fc;
  padding: 50px 0;
}
.container {
  width: 100%;
  margin: auto;
}

.pagePadding{
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (max-width: 768) {
  .pagePadding{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 468) {
  .pagePadding{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


.icon{
  font-size: 14;
}

.flex {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
}
.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
  width: 77%;
}

.category{
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 100%;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: -5000px;
}

@media screen and (max-width: 1024px){
  .category{
    display: none;
  }
}
.category .imgDiv{
  width: 30px;
  height: 30px;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.category span {
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 5px 20px;
  gap: 1rem;
}

.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}

/*---------category----------*/
.btn-primary {
  background: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 10px;
}
.heading i {
  color: #e94560;
  margin: 10px;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
/*---------products-----------*/
.products {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin: 10px;
}

.products .imgContent .imgDiv{
  width: 100%;
  height: 200px;
}

.products .imgContent .imgDiv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products h3 {
  font-weight: 400;
  font-size: 17px;
}
.products .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.products .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e94560;
}
.price button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
.products-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.products-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: white;
  border-radius: 50px;
}
.products-like i {
  cursor: pointer;
  font-size: 20px;
  margin: 10px 3px;
}
.products:hover .products-like {
  opacity: 1;
}

.isred{
  color: #e94560;
}
/*---------products-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  line-height: 10px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
} 
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}


